/* --------------------------------------------------------
Author: Adam Jarvis
Email: adam.jarvis@gmail.com
website: http://www.adamcjarvis.com
----------------------------------------------------------*/

/* ==========================================================================
    Animations
========================================================================== */
